form p{
    float: left;
    width: 50%;
}
body{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0px 5px;
    border: 5px solid white;
    background: url(sansdance\ copy.gif)  right;
    background-size: 20%;
    background-position: 90% 10%;
}
html{
    height: 100%;
    background: black;
    font-family: Comic Sans MS;
}
input{
    background-color: rgb(233, 164, 16);
    color: white;
    border: 2px solid  white;
    box-shadow: white 3px 3px 3px;
    
}

button{
    background-color: black;
    color: white;
    border: 2px solid  black;
    margin: 2px;
    font-size: 15px;
    border: 3px solid white;
    font-family: Comic Sans MS;

}
form, p{
    color: white;
    font-size: 20px;
    text-shadow: black 2px 2px 2px;
}